.formulario {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario input[type="text"] {
  height: 30px;
  padding: 0 20px;
  font-size: 15px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.formulario button[type="submit"]{
  border: none;
  height: 30px;
  width: 30px;
  background-color: #ccc;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario button[type="submit"]:hover {
  background-color: rgba(128, 0, 128, 0.8);
  color: white;
  animation-duration: 5s;
}
