.tarefas {
  margin-top: 30px;
}

.tarefas li {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 200ms;
}

.tarefas li:hover {
  background-color: rgba(0, 140, 255, 0.4);
  padding: 15px;
}

.tarefas li span{
  display: flex;
  align-items: center;
}

.tarefas li .edit {
  cursor: pointer;
  margin-right: 15px;
  color: rgba(0, 140, 255, 0.9);
}

.tarefas li .close {
  cursor: pointer;
  color: rgba(255, 36, 36, 0.8);
}

.tarefas li:hover .edit,
.tarefas li:hover .close {
  color: rgba(128, 0, 128, 0.8);
  transition: all 200ms;
}

.tarefas li .edit:hover,
.tarefas li .close:hover {
  color: black;
}
